## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vieux-Habitants,GP,16.0589,-61.7659,84.70,69,18,12.84,few clouds
1,1,San Antonio,US,29.4241,-98.4936,103.06,37,40,14.97,scattered clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,35.85,92,100,5.39,overcast clouds
3,3,Kavaratti,IN,10.5669,72.6420,80.94,80,100,22.03,overcast clouds
4,4,Victoria,HK,22.2855,114.1577,87.33,80,100,8.01,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vieux-Habitants,GP,16.0589,-61.7659,84.70,69,18,12.84,few clouds
3,3,Kavaratti,IN,10.5669,72.6420,80.94,80,100,22.03,overcast clouds
4,4,Victoria,HK,22.2855,114.1577,87.33,80,100,8.01,overcast clouds
5,5,Jamestown,US,42.0970,-79.2353,87.06,52,0,14.97,clear sky
6,6,Heiligenhafen,DE,54.3667,10.9833,73.74,51,1,9.78,clear sky
8,8,Goderich,CA,43.7501,-81.7165,78.91,81,87,4.52,overcast clouds
11,11,Srivardhan,IN,18.0333,73.0167,79.02,88,100,9.35,overcast clouds
13,13,Margate,GB,51.3813,1.3862,85.10,53,13,1.01,few clouds
15,15,Hambantota,LK,6.1241,81.1185,75.54,100,75,3.44,moderate rain
28,28,Bandarbeyla,SO,9.4942,50.8122,75.18,84,50,35.05,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 690
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              317 non-null    int64
 1   City                 317 non-null    object
 2   Country              317 non-null    object
 3   Lat                  317 non-null    float64
 4   Lng                  317 non-null    float64
 5   Max Temp             317 non-null    float64
 6   Humidity             317 non-null    int64
 7   Cloudiness           317 non-null    int64
 8   Wind Speed           317 non-null    float64
 9   Current Description  317 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 27.2+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vieux-Habitants,GP,16.0589,-61.7659,84.70,69,18,12.84,few clouds
3,3,Kavaratti,IN,10.5669,72.6420,80.94,80,100,22.03,overcast clouds
4,4,Victoria,HK,22.2855,114.1577,87.33,80,100,8.01,overcast clouds
5,5,Jamestown,US,42.0970,-79.2353,87.06,52,0,14.97,clear sky
6,6,Heiligenhafen,DE,54.3667,10.9833,73.74,51,1,9.78,clear sky
...,...,...,...,...,...,...,...,...,...,...
681,681,Nicoya,CR,10.1483,-85.4520,82.87,80,100,1.74,overcast clouds
683,683,Tingo Maria,PE,-9.2895,-76.0088,88.11,51,20,3.44,few clouds
687,687,Curvelo,BR,-18.7564,-44.4308,83.03,22,0,5.64,clear sky
689,689,Ribeira Brava,PT,32.6500,-17.0667,74.71,77,5,6.85,clear sky
690,690,Monrovia,LR,6.3005,-10.7969,76.51,75,100,9.89,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vieux-Habitants,GP,84.70,few clouds,16.0589,-61.7659,
3,Kavaratti,IN,80.94,overcast clouds,10.5669,72.6420,
4,Victoria,HK,87.33,overcast clouds,22.2855,114.1577,
5,Jamestown,US,87.06,clear sky,42.0970,-79.2353,
6,Heiligenhafen,DE,73.74,clear sky,54.3667,10.9833,
8,Goderich,CA,78.91,overcast clouds,43.7501,-81.7165,
11,Srivardhan,IN,79.02,overcast clouds,18.0333,73.0167,
13,Margate,GB,85.10,few clouds,51.3813,1.3862,
15,Hambantota,LK,75.54,moderate rain,6.1241,81.1185,
28,Bandarbeyla,SO,75.18,scattered clouds,9.4942,50.8122,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vieux-Habitants,GP,84.70,few clouds,16.0589,-61.7659,Clos du Manguier
3,Kavaratti,IN,80.94,overcast clouds,10.5669,72.6420,Green leaf
4,Victoria,HK,87.33,overcast clouds,22.2855,114.1577,Mini Central
5,Jamestown,US,87.06,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
6,Heiligenhafen,DE,73.74,clear sky,54.3667,10.9833,Aparthotel Ostseeresidenz Heiligenhafen
...,...,...,...,...,...,...,...
681,Nicoya,CR,82.87,overcast clouds,10.1483,-85.4520,Las Cabinas Del Sueño
683,Tingo Maria,PE,88.11,few clouds,-9.2895,-76.0088,Hospedaje Paraíso
687,Curvelo,BR,83.03,clear sky,-18.7564,-44.4308,Pontal Plaza Hotel
689,Ribeira Brava,PT,74.71,clear sky,32.6500,-17.0667,Hotel do Campo
690,Monrovia,LR,76.51,overcast clouds,6.3005,-10.7969,Sunset Inn

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))